{% load static %}
{% load humanize %}
{% include "ss/head.html" %}
<body>


{% include "ss/header.html" %}

{%include "ss/nav.html" %}

{% include "ss/hang.html" %}

{% include "ss/section.html" %}

<main style="    max-width: 70%;
    margin-left: 230px;">
<article class="container mt-5">
 <p class="headline"> 
    <b>
    {{dm.ten_dm}}-{{hang.ten_ncc}}
    </b> 
  </p>
  
  <div class="row">
    {%if user.is_staff%}
  
     <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm rounded">
           <div class="card-body text-center">
            <h5 class="card-title fw-bold text-dark"><a href="{% url 'tsp'%}" class="link">+Thêm Sản Phẩm</a></h5>
           </div>
        </div>
      </div>
     </div>
  {%endif%}
    {%for s in sp %}

    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm rounded">
        {% if s.hinh_anh.all %}
          <img src="{{s.hinh_anh.first.hinh.url}}" class="card-img-top img-fluidsp">
        {%endif%}
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark"><a href="{% url 'ct' s.ma_sp%}" class="link">{{ s.ten_sp }}</a></h5>
          <p class="text-danger fw-semibold mb-2"> {%if s.giam_gia < s.gia%}
                                                      <s>{{s.gia|floatformat:0|intcomma}}</s> {{ s.giam_gia|floatformat:0|intcomma }} VND</p>
                                                   {%else%}
                                                      {{s.gia|floatformat:0|intcomma}} VND
                                                   {%endif%}


        </div>
      </div>
      
  </div>
  
     {%endfor%}
  </article>
</main>