{% load static %}
<footer class="bg-dark text-white text-center p-3 mt-5">
    <div class="row">
        <div class="col-md-3">
            <div>
                 <div style="color: cornflowerblue;"><b>THÔNG TIN LIÊN HỆ</b></div> <br>
                 <div class="if-ft"><img src="https://img.icons8.com/?size=100&id=7880&format=png&color=000000" alt="" class="ft-img">122/27/117/9/9 Tôn Đản - Phường 8 <br> Quận 4 -
                Tp.HCM</div> <br> 
                <div class="if-ft"><img src="https://cdn-icons-png.freepik.com/256/60/60462.png?ga=GA1.1.747078135.1717741449&semt=ais_hybrid" alt="" class="ft-img"> 0925 191 336</div> <br>
                <div class="if-ft"><img src="https://cdn-icons-png.freepik.com/256/46/46951.png?ga=GA1.1.747078135.1717741449&semt=ais_hybrid" alt="" class="ft-img">       nguyenminhtai05102005@gmail.com</div> <br>
                <div class="if-ft"><img src="https://cdn-icons-png.freepik.com/256/4408/4408451.png?ga=GA1.1.747078135.1717741449&semt=ais_hybrid" alt="" class="ft-img">   08h00 - 22h30 các ngày trong tuần</div> <br>
                <div class="if-ft"><img src="{% static  '/images/hinhanh/congthuong.png'%} " alt="" style="max-width: 200px;"></div>
            </div>

        </div>

        <div class="col-md-3 ">
            <div class="ft-bank" >
                <div style="color:  cornflowerblue;"><b>CHUYỂN KHOẢN ONLINE</b></div> <br>
                <div class="if-ft">MB Bank– Ngân hàng Quân Đội Việt Nam </div> <br>
                <div class="if-ft" >Chủ tài khoản: Nguyễn Minh Tài<br>
                    Số tài khoản: 0925191336 </div> <br>
                 <div class="if-ft">Xem Thêm Các TK Ngân Hàng</div> <br>
                 <div class="if-ft">Paypal – Western Union – ATM</div>
              </div>
        </div>

        <div class="col-md-3">
            <div>
                <div style="color:  cornflowerblue;"> <b>FANPAGE</b> </div> <br>
                <div class="if-ft">Follow Shoes Shop NMTnhé! <br> <br>
                    <a href="https://www.facebook.com/phuongtuan1997"> <img src="{% static  '/images/hinhanh/fb.png'%}" alt="">  </a> &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <a href="https://www.tiktok.com/@lan_jee?lang=vi-VN" > <img src="{% static  '/images/hinhanh/tik.png' %}" alt=""> </a>  &nbsp;    &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <a href="https://www.instagram.com/iamjack1997/">  <img src="{% static  '/images/hinhanh/ins.png '%}" alt=""> </a> &nbsp;
                </div> 
                <br>
                 <div class="logo2" rowspan="6" ><img src="{% static  '/images/hinhanh/logo.jpg'%}" alt="" style="max-width: 300px;"></div>
            </div>

        </div>

        <div class="col-md-3">
            <div style="color:  cornflowerblue;"> <b>6 LÝ DO CHỌN Shop Shoes NMT</b></div> <br>
            <div class="if-ft">  <img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">   Hàng Ngàn Mẫu Có Sẵn Tại <br>Showroom 
                </div> <br>
            <div class="if-ft"><img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">   Giá Bán Tốt Nhất Thị Trường<br>
                    <img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">Cam Kết 100% Chính Hãng <br> 
                </div>
            <div class="if-ft"> <img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">   Bảo Hành 6 tháng</div> <br>
            <div class="if-ft"><img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">    Miễn Phí Ship Hàng Khi Mua Hàng Lần 3 <br>
                    <img src="https://cdn-icons-png.freepik.com/256/74/74414.png?semt=ais_hybrid" alt="" class="ft-img">    Giao Hàng Nội Thành - Ngoại Thành <br> &nbsp; &nbsp; &nbsp; Siêu Tốc (Giao Hẹn Giờ & Tận Tay)
                </div>


        </div>

    </div>

    <div class="if-ft"> 
        <hr width="100%" size="5px" color="Green">
        ©2018 <a href="https://giaycuhanghieu.vn/">ShopNMT.com</a>
    </div>
</footer>