{% load static %}
{% load humanize %}
{% include "ss/head.html" %}
<body>


{% include "ss/header.html" %}

{%include "ss/nav.html" %}

{% include "ss/hang.html" %}

{% include "ss/section.html" %}


<hr style="width: 80%; margin-left: 145px; border: 3px solid green; margin-top: 40px;">

<main style="    max-width: 70%;
    margin-left: 230px;">
<article class="container mt-5">
    <h1> Các Thương Hiệu</h1>
     {% for h in hang %}
        <div class="brand">
          <a href = "{% url 'cth' h.id %}">{{h.ten_ncc}} </a>
        </div>
     {% endfor%}


    {%if giamgia%}

    <h1> Các sản phẩm giảm giá </h1>
  <div class="row">
    {% for g in giamgia%}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm rounded">
        {% if g.hinh_anh.all %}
          <img src="{{g.hinh_anh.first.hinh.url}}" class="card-img-top img-fluidsp">
        {%endif%}
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark"><a href="{% url 'ct' g.ma_sp%}" class="link">{{ g.ten_sp }}</a></h5>
          <p class="text-danger fw-semibold mb-2"><s>{{g.gia|floatformat:0|intcomma}}</s> {{ g.gia_ban|floatformat:0|intcomma }} VND</p>

        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {%else%}
  
  {%endif%}
    
     


  
   
  

  
    
</article>

</main>
    
</body>




{% include "ss/footer.html" %}
