{%load static%}
{% load humanize %}

{% include 'ss/head.html'%}

{% include 'ss/header.html'%}
{% include 'ss/nav.html'%}

{% include 'ss/hang.html'%}
{% include 'ss/section.html'%}

<main style="    max-width: 70%;
    margin-left: 230px;">
<article class="container mt-5">
   <p class="headline"> 
    <b>
    {{nccp.ten_ncc}} 
    </b>
  </p>
  <div class="row">
    {%for s in spp %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm rounded">
        {% if s.hinh_anh.all %}
          <img src="{{s.hinh_anh.first.hinh.url}}" class="card-img-top img-fluidsp">
        {%endif%}
        <div class="card-body text-center">
          <h5 class="card-title fw-bold text-dark"><a href="{% url 'ct' s.ma_sp%}" class="link">{{ s.ten_sp }}</a></h5>
          <p class="text-danger fw-semibold mb-2">{%if s.gia > s.giam_gia%}
                                                   <s>{{s.gia|floatformat:0|intcomma}}</s> {{ s.gia_ban|floatformat:0|intcomma }} VND</p>
                                                  {%else%}
                                                   {{s.gia|floatformat:0|intcomma}}VND
                                                  {%endif%}

        </div>
      </div>
    </div>
      
    {%endfor%}
   
  </div>
</article>
</main>

{% include 'ss/footer.html'%}