{% load static%}
<section >
<div class="row">
  <div class="col-md-3-s">
    <img src="{% static 'images/hinhanh/camket.png' %}">
    <b>Cam kết chất lượng</b>
  </div>

   <div class="col-md-3-s">
    <img src="{% static  '/images/hinhanh/hotro.png'%} " alt="">
    <b>Hỗ trợ bảo hành</b> 
  </div>

   <div class="col-md-3-s">
    <img src="{% static  '/images/hinhanh/thanhtoan.png '%} " alt="">
    <b>Thanh toán đa dạng</b>
  </div>

   <div class="col-md-3-s">
    <img src="{% static  '/images/hinhanh/giaohang.png '%}" alt="">
    <b>Giao hàng nhanh chóng</b>
  </div>
</div>
</section>